.skin-black .left-side, .skin-black .main-sidebar, .skin-black .wrapper {
  background-color: #ecf1f2;
  
}

.content {
  background-color: #ecf1f2;
}

.skin-black .main-sidebar {
    background-color: #041c49;
}
